$form-btn-size: 2.5in;
$sm: 576px;
$lg: 768px;
$xl: 1200px;

.navbar-brand
{
   font-size: 24px !important;
}

.nav-item
{
    font-size: 20px !important;
}

.form-travel-head
{
    width: $form-btn-size;
    margin-left: auto;
    margin-right: auto;
}

.form-travel-container
{
    width: $form-btn-size;
    margin-left: auto;
    margin-right: auto;
}

.form-travel-button
{
    width: $form-btn-size;
    text-decoration: none !important;
}

/*Footer*/
footer
{
	margin: 20px;
    padding: 10px;
    color: grey;         /* Gray */
    text-decoration: none !important;
    text-align: center;
    font-size: 20px;
}

/*Hower Over Effect*/
.button
{
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover
{
    background-color: white;
    color: rgb(120,81,169);
}
