body {
  font-family: sans-serif cursive;
}

a {
  text-decoration: none !important;
}

h1 {
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  color: #bd8c7d;
}

h1:hover {
  background-color: white;
  color: #d1bfa7;
}

h2 {
  color: #7dce94;
}

h6 {
  color: #c2dde6;
}

.flights-scheduled {
  font-size: 18;
}

.book-flight-button {
  width: 400px;
  text-decoration: none !important;
}

#book-flight {
  max-width: 700px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.navbar-brand {
  font-size: 24px !important;
}

.nav-item {
  font-size: 20px !important;
}

.register-action-button {
  max-width: 700px;
  text-decoration: none !important;
}

.login-action-button {
  width: 2.5in;
  text-decoration: none !important;
}

.form-home-button {
  width: 2.5in;
  text-decoration: none !important;
}

.reset-password-action-button {
  width: 2.5in;
  text-decoration: none !important;
}

.register-action-container {
  max-width: 900px;
  margin-left: 80px;
  margin-right: auto;
  text-align: left;
}

.login-action-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.form-home-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.reset-password-action-container {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.login-action-head, .register-action-head, .form-home-head, .reset-password-action-head {
  margin: auto;
  font-size: 20;
}

.error-message {
  max-width: 700px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-size: 20;
}

.error-message-type {
  max-width: 700px;
  margin: auto;
  font-size: 24;
}

.error-message-a {
  color: white;
  text-decoration: none !important;
}

.errorlist
{
    background-color: alert;
}


.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none;
  /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div, .select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/*# sourceMappingURL=style.css.map */
