{% extends "flights/base.html" %}

{% block title %}
    Error!!
{% endblock %}

{% block head %}
    <style media="screen">
        .error-message {
          max-width: 700px;
          margin: auto;
          text-align: center;
          padding: 30px;
          font-size: 20;
        }

        .error-message-type {
          max-width: 700px;
          margin: auto;
          font-size: 24;
        }

        .error-message-a {
          color: white;
          text-decoration: none !important;
        }
    </style>

	<!--Icon-->
	<link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon">
{% endblock %}

{% block body %}
	<div class = "error-message mt-4 ml-auto mr-auto mb-2">
        <div class="alert alert-danger error-message-type">
            {{ type }}
        </div>
        <div class = "alert alert-warning mt-2" role = "alert">
			{{ message }}
		</div>
        <div class="error-message-a mt-3 ml-auto mr-auto mb-2">
            <a class="btn btn-outline-danger btn-lg mt-3" href="{% url 'travel' %}" role="button">Go. Back</a>
        </div>
	</div>
{% endblock %}
