<!-- templates/flights/flight.html -->

{% extends "flights/base.html" %}

{% block title %}
    Flight MA{{ flight.id }}
{% endblock %}

{% block head %}
    <style media="screen">
        .flight
        {
            margin: 20px;
            padding: 20px;
            max-width: 800px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="flight">
        <h1><img src="https://img.icons8.com/cotton/64/000000/non-stop-flight--v1.png" />&nbsp;Flight {{ flight.id }}MA</h1>
        <br>
        <ul>
            <li><strong>Origin: </strong>{{ flight.origin }}</li>
            <li><strong>Destination: </strong> {{ flight.destination }}</li>
            <li><strong>Duration: </strong> {{ flight.duration }}</li>
            <li><strong>Capacity: </strong> {{ flight.capacity }}</li>
            <li><strong>Departure: </strong> {{ flight.origin_date }}</li>
            <li><strong>Arrival: </strong> {{ flight.destination_date }}</li>
        </ul>
        <hr>
        <h1><img src="https://img.icons8.com/officel/40/000000/passenger.png" />&nbsp;Passengers</h1>
        <br>
        {% if passengers %}
            <table>
                <thead>
                    <tr>
                        <th>UIDMA</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>E-mail</th>
                    <tr>
                </thead>
                
                <tbody>
                    {% for passenger in passengers %}
                        <tr>
                            <td>{{ passenger.id }}</td>
                            <td>{{ passenger.first }}</td>
                            <td>{{ passenger.last }}</td>
                            <td>{{ passenger.age }}</td>
                            <td>{{ passenger.sex }}</td>
                            <td>{{ passenger.email }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-success" role="alert">No Passenegers Onboard.</div>
        {% endif %}

        <a href="{% url 'travel' %}" class="form-control register-action-button btn btn-outline-info mt-3 mb-3 ml-3 mr-3" role="button">Book Another Ticket</a>
    </div>
{% endblock %}
