{% extends "flights/base.html" %}

{% block title %}
    Flights
{% endblock %}

{% block head %}
    <style media="screen">
        .flights
        {
            max-width: 700px;
            margin: 20px;
            padding: 30px;
        }
    </style>
    <!--Icon-->
	<!-- <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon"> -->
{% endblock %}

{% block body %}
    <div class="flights">
        <h1>Flights</h1>
        <hr>
        <ul>
            {% for flight in flights %}
                <li><a href="{% url 'flight' flight.id %}">{{ flight }}</a></li>
            {% empty %}
                <div class="alert alert-danger" role="alert">No Fligths.</div>
            {% endfor %}
        </ul>
        <hr>
    </div>
{% endblock %}
