<!-- templates/flights/flights.html -->

{% extends "flights/base.html" %}

{% block title %}
    Flights
{% endblock %}

{% block head %}
    <style media="screen">
        .flights
        {
            max-width: 800px;
            margin: 20px 20px 20px 20px;
            padding: 20px 20px 20px 20px;
        }

        li:hover
        {
            color: #0e4355;
            background-color: rgb(255, 255, 255); 
            -webkit-transition-duration: 0.4s; /* Safari */
            transition-duration: 0.4s;
        }
        a:hover
        {
            color: #0e4355;
            background-color: whitesmoke;
        }
    </style>
    <!--Icon-->
	<!-- <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon"> -->
{% endblock %}

{% block body %}
    <div class="flights">
        <h1><img src="https://img.icons8.com/cotton/64/000000/non-stop-flight--v1.png" />&nbsp;Flights</h1>
        <hr>
        <ul>
            {% for flight in flights %}
                <li><a href="{% url 'flight' flight.id %}">{{ flight }}</a></li>
            {% empty %}
                <div class="alert alert-danger" role="alert">No Fligths.</div>
            {% endfor %}
        </ul>
        <hr>
    </div>
{% endblock %}
