<!-- templates/flights/passengers.html -->

{% extends "flights/base.html" %}

{% block title %}
    Passengers
{% endblock %}

{% block head %}
    <style media="screen">
        .passengers
        {
            /* max-width: 600px; */
            margin: 20px;
            padding: 30px;
        }
    </style>
    <!--Icon-->
	<!-- <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon"> -->
{% endblock %}

{% block body %}
    <div class="passengers">
        <h1>Passengers</h1>
        <table>
            <thead>
                <tr>
                    <th>UIDMA</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>Contact Number</th>
                    <th>Journey Details</th>
                </tr>
            </thead>
            <tbody>
                {% for passenger in passengers %}
                    <tr>
                        <td>{{ passenger.id }}</td>
                        <td>{{ passenger.first }}</td>
                        <td>{{ passenger.last }}</td>
                        <td>{{ passenger.sex }}</td>
                        <td>{{ passenger.age }}</td>
                        <td>{{ passenger.ph }}</td>
                        <td class="journey"><a class="btn btn-outline-warning btn-md ml-2 mr-2 mt-2 mb-2" href="{% url 'user' passenger.id %}" role="button">Check</a></td>
                    </tr>
                  {% empty %}
                    <div class="alert alert-warning" role="alert">No Passenegers.</div>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}



<!-- {% block body %}
<div class="user">
    <br><br>
    <img src="https://img.icons8.com/bubbles/500/000000/user-male.png" />
    <hr>
    <h2> User Details </h2>
    <div>
        <span>First Name : {{ user_details.first }}</span>
        <span>Last Name : {{ user_details.last }}</span>
    </div>

    <div>
        <span>Age : {{ user_details.age }}</span>
        <span>Gender : {{ user_details.sex }}</span>
    </div>

    <div>
        <span>E-mail: {{ user_details.email }}</span>
        <span>Contact: {{ user_details.ph_no }}</span>
    </div>
    <h3>Travel Details</h3>
    <table>
        <thead>
            <tr>
                <th>UFIDMA</th>
                <th>Origin</th>
                <th>Destination</th>
                <th>Duration</th>
                <th>Gender</th>
                <th>E-mail</th>
            <tr>
        </thead>

        <tbody>
            {% for flight in user_details.flights %}
            <tr>
                <td>{{ flight.id }}</td>
                <td>{{ flight.origin }}</td>
                <td>{{ flight.destination }}</td>
                <td>{{ flight.duration }}</td>
            </tr>
            {% empty %}
            <div class="alert alert-success" role="alert">No Flight Onboard.</div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %} -->