<!-- templates/flights/passenger.html -->

{% extends "flights/base.html" %}

{% block title %}
    Passenger P{{ p_id }}MA
{% endblock %}

{% block head %}
    <style>
        .passenger
        {
            max-width: 700px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="passenger">

        <h1>Passenger P{{ passenger.id }}MA</h1>

        <table>
            <thead>
                <tr>
                    <th>UIDMA</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>E-mail</th>
                <tr>
            </thead>
        
            <tbody>
                <tr>
                    <td>{{ passenger.id }}</td>
                    <td>{{ passenger.first }}</td>
                    <td>{{ passenger.last }}</td>
                    <td>{{ passenger.age }}</td>
                    <td>{{ passenger.sex }}</td>
                    <td>{{ passenger.email }}</td>
                </tr>
            </tbody>
        </table>
        <ul>
            {% for flight in passenger.flights %}
                <li>{{ flight }}</li>
            {% empty %}
                <div class="alert alert-danger" role="alert">No Journey.</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}