<!-- templates/flights/passengers.html -->

{% extends "flights/base.html" %}

{% block title %}
    MilkyWay Airlines Passengers Details
{% endblock %}

{% block head %}
    <style media="screen">
        .passengers
        {
            max-width: 600px;
            margin: 20px;
            padding: 30px;
        }
    </style>
    <!--Icon-->
	<!-- <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon"> -->
{% endblock %}

{% block body %}
    <div class="passengers">
        <h1>Passengers</h1>
        <hr>

        <table>
            <tr>
                <th colspan="2">First Name</th>
                <th colspan="2">Last Name</th>
                <th colspan="1">Gender</th>
                <th colspan="1">Age</th>
                <th colspan="2">Contact Number</th>
                <th colspan="2">Journey Details</th>
            </tr>
            {% for passenger in passengers %}
            <tr>
                <td>{{ passenger.first }}</td>
                <td>{{ passenger.last }}</td>
                <td>{{ passenger.sex }}</td>
                <td>{{ passenger.age }}</td>
                <td>{{ passenger.ph }}</td>
                <a class="btn btn-outline-danger btn-lg" href="{% url 'user' passenger.id %}" role="button">Check</a>
            </tr>
            {% endfor %}
        </table>
        <hr>
    </div>
{% endblock %}
