<!-- templates/flights/passenger.html -->

{% extends "flights/base.html" %}

{% block title %}
    Passenger UPIDMA{{ p_id }}
{% endblock %}

{% block head %}
    <style>
        .passenger
        {
            max-width: 600px;
            margin: auto;
            text-align: center;
        }  
        div.alert, li {
            margin-right: 7%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="passenger">

        {% if passenger.sex == 'M' %}
            <span><img src="https://img.icons8.com/bubbles/200/000000/user-male.png" /></span>
        {% else %}
            <span><img src="https://img.icons8.com/bubbles/200/000000/user-female.png" /></span>
        {% endif %}
        <h1>Passenger UPIDMA{{ passenger.id }}</h1>
        <hr>
        <br>
        <h4><strong>First Name : </strong>{{ passenger.first }}</h4>
        <h4><strong>Last Name : </strong>{{ passenger.last }}</h4>
        <h4><span><strong>Age : </strong>{{ passenger.age }} &nbsp; &nbsp; &nbsp; &nbsp;<strong>Gender: </strong>{{ passenger.sex }}</span></h4>
        <h4><strong>E-mail : </strong>{{ passenger.email }}</h4>
        <h4><strong>Contact : </strong>{{ passenger.ph_no }}</h4>
        
        <br>
        <hr>

        <h2>Journey</h2>
        <br>
        <ul>
            {% for flight in flights %}
                <li>UFID{{ flight.id }}MA <a href="{% url 'flight' flight.id %}">{{ flight }}</a></li>
                <hr>
            {% empty %}
                <div class="alert alert-danger center" role="alert">No Journey.</div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}