<!-- templates/flights/travel.html -->

{% extends "flights/base.html" %}

{% block title %}
    The MilkyWay Airlines
{% endblock %}

{% block head %}
    <!--Icon-->
    <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon">
{% endblock %}

{% block body %}
    <div class="container container-fluid text-center mt-3 mr-auto ml-auto">
        <div class="book-flight-container justify-content-center">
            <h1> The MilkyWay Airlines &#9992;</h1>
            <br>
            <h6>Experiance insanity again.!</h6>
            <hr>
            <br>
            <form class="form-group" action="{% url 'book' %}" method="post">

                {% csrf_token %}
                <!-- <div class="custom-select" style="width:400px;"> -->
                    <select name="flight_id">
                        {% for flight in flights %}
                            <option value="{{ flight.id }}">{{ flight.origin }} to {{ flight.destination }}</option>
                        {% endfor %}
                    </select>
                <!-- </div> -->

                <br>
                <br>

                <h2>Passenger Details <img src="https://img.icons8.com/officel/16/000000/passenger-with-baggage.png"/></h2>
                <br>
                <input id="first-name" type="text" class="mr-2" autocomplete="off" autofocus placeholder="First Name" name="first">
                <input id="last-name" type="text" class="mr-2" autocomplete="off" autofocus placeholder="Last Name" name="last">
                <br>
                <br>
                <input id="age" type="number" class="mr-2" autocomplete="off" autofocus placeholder="Age" name="age">
                <input id="e-mail" type="email" class="mr-2" autocomplete="off" autofocus placeholder="E-mail" name="email">
                <br>
                <br>
                <input id="departure-date" type="date" class="mr-2" autocomplete="off" autofocus placeholder="Departure" name="origin_date">
                <input id="arrival-date" type="date" class="mr-2" autocomplete="off" autofocus placeholder="Arrival" name="origin_date">
                <br>
                <br>

                <input type="radio" id="male" class="ml-auto" name="sex" value="M" default=True>
                <label for="male" class="mr-5">Male</label>
                <input type="radio" id="female" class="ml-5" name="sex" value="F">
                <label for="female" class="mr-5">Female</label>
                <input type="radio" id="other" class="ml-5" name="sex" value="X">
                <label for="other">Other</label>
                <br>

                <input type="radio" id="aisle" class="ml-auto" name="seat" value="A">
                <label for="aisle" class="mr-5"> Aisle </label>
                <input type="radio" id="midle" class="ml-5" name="seat" value="M">
                <label for="middle" class="mr-5"> Middle </label>
                <input type="radio" id="window" class="ml-5" name="seat" value="W">
                <label for="window">Window</label>
                <br>

                <select class="mr-5 ml-auto" name="hospitality">
                        <option class="dropdown-item">First Class</option>
                        <option class="dropdown-item">Bussiness Class</option>
                        <option class="dropdown-item">Economy Class</option>
                </select>
                <select  class="ml-5 mr-auto" name="foods">
                    {% for food in foods %}
                        <option value="{{ food.id }}">{{ food.name }}</option>
                    {% endfor %}
                </select>
                <br>

                <button id="book-flight-button" class = "btn btn-primary ml-auto mr-auto mt-4">Book Flight.</button>
            </form>
        <div>
    </div>
{% endblock %}
