<!-- templates/flights/user.html -->

{% extends "flights/base.html" %}

<!-- {% block title %} -->
    <!-- MilkyWay Airlines User {{ passenger.id }} -->
<!-- {% endblock %} -->

<!-- {% block head %} -->
    <!--Icon-->
    <!-- <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon"> -->
<!-- {% endblock %} -->

{% block body %}
    <div class="container container-fluid">
        <h2> User Details </h2>
        First Name : {{ user_details.first }}
        Last Name : {{ user_details.last }}
        Age : {{ user_details.age }} Gender : {{ user_details.sex }}

        <h3>Travel Details</h3>
        <table>
            <thead>
                <tr>
                    <th>UIDMA</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                    <th>Gender</th>
                    <th>E-mail</th>
                <tr>
            </thead>

            <tbody>
                {% for flight in user_details.flights %}
                    <tr>
                        <td>{{ flight.id }}</td>
                        <td>{{ flight.origin }}</td>
                        <td>{{ flight.destination }}</td>
                        <td>{{ flight.duration }}</td>
                        <td>{{ passenger.sex }}</td>
                        <td>{{ passenger.email }}</td>
                    </tr>
                {% empty %}
                    <div class="alert alert-success" role="alert">No Flight Onboard.</div>
                {% endfor %}
            </tbody>
        </table>

        <ul>

                <li>{{ flight }}</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
