<!-- templates/flights/user.html -->

{% extends "flights/base.html" %}

{% block title %}
    UUIDMA{{ user_details.id }}
{% endblock %}

{% block head %}
    <style>
        #user
        {
            max-width: 900px;
            margin: auto;
            text-align: center;
            align-items: center;
        }
    </style>
    <!-- Icon -->
    <!-- <link href = "{% static  'flights/icons/icons8-alert-80.png" rel = "icon"> -->
{% endblock %}

{% block body %}
    <div id="user">
        <br><br>
        <div>
            <span style="float: left;"><img src="https://img.icons8.com/bubbles/200/000000/user-male.png" /></span>
            <span style="float: right;"><img src="https://img.icons8.com/bubbles/200/000000/user-female.png" /></span>
        </div>

        <!-- <hr> -->
        <span><h2>User Details </h2></span><span><h3>UUIDMA{{ user_details.id }}</h3></span>
        <br>

        {% if user_details.id == request.user.id %}
            <div class="conatainer container-fluid">
                <div class="justify-content-center">
                    <form class="form-group" action="{% url 'update' %}" method="post">

                        {% csrf_token %}

                        <div class="form-group form-text h4">
                            <input class="form-control col-md-4 ml-auto mr-auto" type="text" autocomplete="off" autofocus placeholder="First Name" name="first" value="{{ user_details.first_name }}"></span>
                        </div>
                        <div class="form-group form-text h4">
                            <span><input class="form-control col-md-4 ml-auto mr-auto" type="text" autocomplete="off" autofocus placeholder="Last Name" name="last" value="{{ user_details.last_name }}"></span>
                        </div>
                        <div class="form-group form-text h4">
                            <input class="form-control col-md-4 ml-auto mr-auto" type="email" autocomplete="off" autofocus placeholder="E-mail" aria-describedby="emailHelp" name="email" value="{{ user_details.email }}">
                        </div>
                        <button class="btn btn-outline-primary mt-4" type="submit" name="button">Update Details</button>
                    </form>
                </div>
            </div>
        {% else %}
            <h4><strong>First Name : </strong>{{ user_details.first_name }}</h4>
            <h4><strong>Last Name : </strong>{{ user_details.last_name }}</h4>
            <h4><strong>E-mail : </strong> {{ user_details.email }}</h4>
        {% endif %}

        <br>
        <hr>
        <h3>Passengers Details</h3>
        <br>

        {% if relatives %}
            <table class="center">
                <thead>
                    <tr>
                        <th>UPIDMA</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>E - mail</th>
                        <th>Details</th>
                    <tr>
                </thead>
                <tbody>
                    {% for relative in relatives %}
                        <tr>
                            <td>{{ relative.id }}</td>
                            <td>{{ relative.first }}</td>
                            <td>{{ relative.last }}</td>
                            <td>{{ relative.email }}</td>
                            <td><a class="btn btn-outline-warning mt-2 mb-2 ml-2 mr-2" href="{% url 'passenger' relative.id %}" role="button">Show</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-success" role="alert">No Passengers Onboard.</div>
        {% endif %}
    </div>

{% endblock %}
